<!DOCTYPE html>
<html lang="pt_br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ecoleta</title>

    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&Roboto:wght@700display=swap" rel="stylesheet">



    <link rel="stylesheet" href="/styles/main.css">

    {% block styles %}{% endblock styles %}



    <link rel="stylesheet" href="/styles/responsive.css">
    
</head>
<body>
    
    <div id="{{ pageId}}">

  
    {% block content %}
    {% endblock content %}
    
    


   

    </div>

    {% block modal %}
    {% endblock modal %}

    {% block scripts %}

    {% endblock scripts %}



    <!--Estilo modal -> Criar uma "tela sem sair da página"-->
    <!--Tela que surge ao clicar em pesquisar pontos de coleta-->
    

    

</body>
</html>